@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

header {
    background-color: rgb(80, 75, 75);
    height: 150px;
    text-align: center;
    font-family: "Passion One";
    font-style: normal;
    padding: 15px;
    color: white;
    margin-bottom: 60px;
}

header>h1 {
    font-size: 3em;
    padding: 10px 0px;
    font-weight: bold;
}

header>p {
    font-size: 1em;
    font-weight: lighter;
}

header a {
    text-decoration: none;
    color: white;
}

main {
    font-family: "Sriracha";
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
    background-color: white;
    line-height: 2.5em;
}

main p {
    padding: 0px 0px 60px 30px;
    width: 350px;
}

@media (max-width:700px) {
    main {
        font-size: 1.1em;
    }

    main p {
        width: 300px;
    }

    .imagem p {
        width: 300px;
    }
}

@media (min-width:700px) and (max-width:900px) {
    main {
        font-size: 1.3em;
    }

    main p {
        width: 350px;
    }

    .imagem p {
        width: 350px;
    }
}

.imagem {
    padding: 60px 20px;
    box-shadow: 2px 2px 2px rgba(23, 22, 22, 0.47);
    margin-bottom: 60px;
}

.imagem>p {
    background-color: rgba(46, 40, 40, 0.38);
    color: white;
    padding-left: 10px;
    padding-bottom: 0px;

}

section#img1 {
    background: azure url(imagens/background001.jpg) center center no-repeat fixed;
    background-size: cover;
}

section#img2 {
    background: azure url(imagens/background002.jpg) center center no-repeat fixed;
    background-size: cover;
}

footer {
    background-color: rgb(80, 75, 75);
    height: 40px;
    text-align: center;
    font-family: "Passion One";
    font-style: normal;
    font-weight: lighter;
    padding: 10px;
    color: white;
}