@charset "UTF-8";

@media print {
    /*impressora*/

    * {
        font-family: 'Courier New', Courier, monospace;
    }

}


@media screen and (min-width: 768px) {
    /*telas maiores*/

    span#rol {
        display: none;
    }

    menu {
        display: block;
    }

    menu>ul>li {
        display: inline-block;
        margin-right: 10px;
    }

    main {
        width: 768px;
    }


}